*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0)) ,url(../Imagens/secao08-background-capa.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    border-top: 5px solid #078c31;
    clip-path: polygon(0 0,100% 0,100% 97%,0 100%);
    position: relative;
}

nav{
    background-color: #404040;
    width: 95%;
    height: 150px;
    margin-top: 6px;
   border-radius: 10px;
    position: fixed; 
    top: 0;
    left: 2.5%;
    z-index: 9999;
}

nav div{
    background-image: url(../Imagens/secao08-logo-pizzaria-fontenelle.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 150px;
    float: left;
    cursor: pointer;
}

#esquerda{
    float: left;
}

#direita{
   float: right;
}

nav ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-top: 70px;
   
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    font-size: 80%;
}

nav ul li a:hover{
    background-color: #f2b705;
    transition-duration: 0.8s;
}

nav ion-icon{
    width: 45px;
    height: 45px;
    color: white;
    margin-top: -10px;
    margin-left: 20px;
}

nav ion-icon:hover{
    color: #f2b705;
    cursor: pointer;
}

nav #criar-conta{
    padding: 9px 29px;
    border: 1px solid #fff;
}

header #chamada{
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

section{
    padding: 55px 0 80px;
}

/* Seção Domingo Perfeito */
#domingo-perfeito{
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#domingo-perfeito-esquerda{
    position: relative;
    width: 15%;
}

.folha1{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 150px;
    height: 150px;
    background-image: url(../Imagens/secao09-folha1.png);
    background-repeat: no-repeat;
}

.camarao{
    position: absolute;
    top: 250px;
    left: 0;
    width: 150px;
    height: 150px;
    background-image: url(../Imagens/secao09-camarao.jpg);
    background-repeat: no-repeat;
}

.folha2{
    position: absolute;
    top: 500px;
    left: 50px;
    width: 150px;
    height: 150px;
    background-image: url(../Imagens/secao09-folha2.png);
    background-repeat: no-repeat;
}

.folha3{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 160px;
    height: 150px;
    background-image: url(../Imagens/secao09-folha3.png);
    background-repeat: no-repeat;
}

.tomate{
    position: absolute;
    top: 300px;
    left: 100px;
    width: 160px;
    height: 150px;
    background-image: url(../Imagens/secao09-tomate.png);
    background-repeat: no-repeat;
}

.queijo{
    position: absolute;
    top: 600px;
    left: 10px;
    width: 160px;
    height: 150px;
    background-image: url(../Imagens/secao09-queijo.jpg);
    background-repeat: no-repeat;
}

#domingo-perfeito-direita{
    position: relative;
    width: 15%;
}

#domingo-perfeito-centro{
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#pontos-chaves-mestre{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.pontos-chaves{
    text-align: center;
    width: 25%;
}

#domingo-perfeito ion-icon{
    width: 75px;
    height: 75px;
    color: #f03733;
}
/* Fim Seção Domingo Perfeito*/

/* Seção Pizza */
#pizza{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(../Imagens/secao10-background-secao-pizza.jpg);
    
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    clip-path: polygon(0 3%,100% 0,100% 97%,0 100%);
}

#pizza-opcoes-mestre{
    width: 80%;
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
}

.pizza-opcoes{
    width: 33.3%;
    text-align: center;
    margin: 5px 0;
}

/* Fim Seção Pizza */

/* Seção Depoimentos */
#testemunha{
    width: 100%;
   
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.8),rgba(255,255,255,1)) ,url(../Imagens/secao11-background-secao-depoimento.png);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 800px;
    
}

#testemunha-mestre{
    width: 100%;
    height: 300px;
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
#testemunha-centro{
    width: 100%;
    height: 300px;
    position: absolute;
    margin: 0 170px;
    max-width: 1010px;
}

#testemunhas{
    position: absolute;
    left: 0;
    width: 1024px;
}

#testemunhas ul{
    display: inline-table;
    width: 300px;
    background: #fff;
    padding: 30px;
    margin: 50px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

#testemunhas ul li{
    list-style: none;
    display: inline-table;
    width: 90%;
    margin: 0;
}

#testemunhas h5{
    font-size: 120%;
}

#testemunhas ul p{
   line-height: 1.5;
   color: #404040;
   font-size: 90%;
}

#testemunhas ul img{
   width: 100%;
   border-radius: 90%;
   margin-top: -90px;
   margin-bottom: 20px;
   border: 5px solid #f03733;
}


/* Fim Seção Depoimentos */

/* Transição */
#transicao-testemunha-plano{
    width: 100%;
    height: 280px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#decoracao1{
    padding-left: 50px;
    padding-right: 50px;
    width: 30%;
    height: 100%;
    background-image: url(../Imagens/secao13-tomate-manjericao-alho.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

#decoracao2{
    width: 30%;
    height: 100%;
    background-image: url(../Imagens/secao13-azeite.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

#decoracao3{
    padding-left: 50px;
    padding-right: 50px;
    width: 30%;
    height: 100%;
    background-image: url(../Imagens/secao13-detalhe-tomate.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

/* Fim Transição */

/* Seção Planos */
#plano-principal{
    width: 100%;
    height: 600px;
}

#planos-janela{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.planos{
    width: 250px;
    height: 450px;
    margin: 80px 30px;
}

.planos-top{
    width: 250px;
    height: 350px;
    background-color: #f7f7f7;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 3px #ccc;
}

.planos-bottom{
    width: 250px;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #078c31;
    box-shadow: 2px 2px 3px #ccc;
    cursor: pointer;
}
/* Fim Seção Planos */

/*Seção Footer*/
#transicao-plano-rodape{
    width: 100%;
    height: 36px;
    background-image: linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.5)),url(../Imagens/secao15-mesa-xadrez-clara.png);
    background-repeat: repeat-x;
    margin-top: 220px;
}

footer{
    padding-top: 36px;
    padding-left: 36px;
    width: 100%;
    height: 500px;
    border-bottom: 10px solid #f03733;
    background-image: url(../Imagens/secao15-mesa-xadrez.png);
    background-repeat: repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

footer #mapa{
    width: 35%;
    height: 390px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 4px 10px #404040;
}

footer #info{
    width: 30%;
    height: 390px;
    background-color: #f03733;
    box-shadow: 0 4px 10px #404040;
}

footer #redes-sociais{
    margin-left: 38px;
    width: 80%;
    height: 70px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

footer #redes-sociais ion-icon{
    color: #fff;
    height: 100%;
    width: 20%;
    cursor: pointer;
}

footer #redes-sociais ion-icon:hover{
    color: #f2b705;
}

footer #pizza-rodape-decoracao{
    width: 300px;
    height: 390px;
    margin-top: -100px;
    background-image: url(../Imagens/secao15-pizza-rodape.png);
    background-repeat: no-repeat;
}
/*Fim Seção Footer*/