/*
  font-family: 'Fredericka the Great', cursive;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Pacifico', cursive;

  cores
  Verde escuro: #065902
  Verde claro:  #078c31
  Amarelo:      #f2b705
  Vermelho claro: #f03733
  Vermelho escuro #d90404
  Cinza escuro: #404040
  Cinza claro: #f7f7f7
*/

/* Padrão p/ todo site */
*{
    font-size: 16px;
}

h1,h2,h3{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: #d90404;
}

h4,h5,h6{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #f2b705;
}

h1{
    font-size: 600%;
    font-weight: 200;
}

h2{
    font-size: 400%;
    font-weight: 200;
}

h4{
    font-size: 150%;
    font-weight: 150;
    padding: 20px 0;
}

p,li,a{
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

p.destaque{
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    width: 60%;
}


/* Elementos do Reader */
header #chamada h1{
    color: #fff;
    text-shadow: 4px 6px 10px #000;
}

header #chamada h4{
    font-size: 250%;
    text-shadow: 4px 6px 10px #000;
    margin-bottom: 55px;
}

header #chamada a{
    color: #fff;
    font-size: 110%;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 50px;
    background: #078c31;
    background: linear-gradient(rgba(7,140,49,55) 0%,rgba(6,89,2,35) 40%,
    rgba(6,89,2,35) 100%);
}

/* Fim Elementos do Reader */

/* Seção Domingo Perfeito */
.pontos-chaves h4{
    color: #404040;
}

.pontos-chaves h4:after{
    display: block;
    background-color: #078c31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: " ";
}
/* Fim Seção Domingo Perfeito */